*,body {
  font-family: open sans, sans-serif;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  margin: 0 !important;
  color: #323232;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
body {
  background: #f6f8f8;
}
a {
  color: #3cbeee;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: #3cbeee;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none !important;
  outline: none !important;
}
input {
  outline: none !important;
}
button {
  outline: none !important;
}
.main-content {
  padding: 80px 0px;
}
.pad80 {
  padding: 80px 0 0;
}
.pad70 {
  padding: 70px 0 0;
}
.pad40 {
  padding: 40px 0 0;
}
.section-title {
  text-align: center;
  margin: 0 !important;
  text-transform: uppercase;
}
.section-title:after {
  content: url(../images/shapes/wave-blue.svg);
  display: block;
  width: 70px;
  margin: 0 auto;
  padding: 0 0 20px;
  text-transform: uppercase;
  margin-top: -12px;
}
.section-title1 {
  text-align: center;
  margin: 0 !important;
  text-transform: uppercase;
}
.section-title1:after {
  content: url(../images/shapes/wave-white.svg);
  display: block;
  width: 70px;
  margin: 0 auto;
  padding: 0 0 20px;
  text-transform: uppercase;
  margin-top: -12px;
}
.section-descr {
  text-align: center;
  margin: 0;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.btn {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 10px 25px;
  position: relative;
  background: #3cbeee;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  color: #fefefe;
  box-shadow: 5.5px 9px 15px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn:focus,
.btn:hover {
  color: #fefefe;
  box-shadow: none;
  background-color: #2164b6;
}
.btn-border {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 25px;
  position: relative;
  border: 2px solid #3cbeee;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  color: #999;
}
.btn-border.active {
  background: #3cbeee;
  color: #f6f8f8;
}
header {
  position: absolute;
  width: 100%;
  z-index: 999;
  -webkit-transition: 0.6s all ease;
  -moz-transition: 0.6s all ease;
  -ms-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  transition: 0.6s all ease;
}
nav.navbar {
  background: 0 0;
  border: none;
  margin: 70px 0 0;
  padding: 0;
}
.navbar-brand img {
  height: 40px;
  cursor: pointer;
}
.navbar-header {
  float: right;
}
.navbar-toggle {
  display: block;
  border: none;
  margin: 18px 0;
  padding: 0;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background: 0 0 !important;
}
.navbar-default .navbar-toggle .icon-bar {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background: url(../images/shapes/wave-white.svg) no-repeat;
}
div#main-nav .nav {
  padding-top: 20px;
  margin: 0;
}
div#main-nav h3 {
  text-align: center;
  color: #f6f8f8;
  text-transform: uppercase;
  padding: 20px 0;
}
div#main-nav h3:after {
  content: url(../images/shapes/wave-white.svg);
  display: block;
  width: 60px;
  margin: 0 auto;
  position: relative;
}
.navbar .navbar-nav > li > a {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #f6f8f8 !important;
  padding-left: 30px;
}
.navbar .navbar-nav > li > a:hover {
  color: #000000 !important;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  background: 0 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: 0 0 !important;
  color: #000000 !important;
}
.collapse {
  display: block !important;
}
#main-nav.cbp-spmenu {
  background: -moz-linear-gradient(left, #3cbeee -40%, #036081 140%);
  background: -webkit-linear-gradient(left, #3cbeee -40%, #036081 140%);
  background: linear-gradient(to right, #3cbeee -40%, #036081 140%);
  position: fixed;
  padding: 0;
  margin: 0 !important;
  overflow-x: hidden;
  overflow-y: visible;
  display: block;
  visibility: visible !important;
  height: 100% !important;
  border: 0;
}
.cbp-spmenu-push-toleft:before {
  content: "";
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.cbp-spmenu-left {
  left: -260px;
}
.cbp-spmenu-right {
  right: -260px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
  height: 100% !important;
}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0;
  height: 100% !important;
}
.cbp-spmenu-vertical {
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.cbp-spmenu .nav > li {
  display: block;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #9ac7d8;
}
.cbp-spmenu .nav > li i {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.cbp-spmenu .nav > li.open i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 40%;
}
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.cbp-spmenu-push-toright {
  left: 260px;
}
.cbp-spmenu-push-toleft {
  left: -260px;
}
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
section.main {
  position: relative;
}
.fullscreen {
  top: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.swiper-slide-active {
  z-index: 100;
}
.swiper-slide {
  overflow: hidden;
}
.overlay:before {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 0;
  opacity: 0.9;
}
.overlay:after {
  background: -moz-linear-gradient(left, #3cbeee -40%, #003042 140%);
  background: -webkit-linear-gradient(left, #3cbeee -40%, #003042 140%);
  background: linear-gradient(to right, #3cbeee -40%, #003042 140%);
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  overflow: hidden;
  z-index: 3;
  position: absolute;
  top: 0;
  opacity: 0.3;
}
.slider-content {
  position: relative;
  top: 35%;
  z-index: 15;
  text-align: center;
}
.slider-content h3 {
  color: #fefefe;
  font-size: 72px;
  font-weight: 700;
  font-family: montserrat, sans-serif;
}
.slider-content h3:after {
  content: url(../images/shapes/wave-blue.svg);
  display: block;
  width: 70px;
  margin: 0 auto;
  padding: 0px 0 15px;
  margin-top: -25px !important;
}
.slider-content h4 {
  color: #fefefe;
  font-weight: 400;
}
.slider-content h4 span {
  color: #3cbeee;
  font-family: inherit;
}
.slider-content .cta {
  margin-top: 40px;
}
.slider-content .cta .btn:hover {
  background-color: #2164b6;
}
.swiper-pagination {
  top: 50%;
  -webkit-transform: rotate(90deg) translateX(-50%);
  -moz-transform: rotate(90deg) translateX(-50%);
  -ms-transform: rotate(90deg) translateX(-50%);
  -o-transform: rotate(90deg) translateX(-50%);
  transform: rotate(90deg) translateX(-50%);
  width: auto !important;
  height: 20px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #fefefe;
  background: 0 0;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 6px;
}
.swiper-pagination-bullet-active {
  border: none;
  background: #fefefe;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.scroll-down {
  position: absolute;
  bottom: 3px;
  z-index: 20;
  width: 100%;
  text-align: center;
}
.scroll-down a {
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
}
.scroll-down a:hover {
  color: #3cbeee;
  font-size: 34px;
}
#index-image.fullscreen {
  background: url(../images/img/slider-bg.jpg) no-repeat;
  background-size: cover;
}
section#ourstory {
  background: #3cbeee;
  text-align: center;
  position: relative;
}
section#ourstory img {
  height: 100px;
}
section#ourstory h3 {
  color: #f6f8f8;
  padding-top: 20px;
  text-transform: uppercase;
}
section#ourstory p {
  padding: 20px;
  padding-bottom: 0px !important;
}
section#ourstory:before,
section#ourstory:before {
  content: "";
  background: url(../images/shapes/wave-top.svg) no-repeat;
  background-position: bottom;
  background-size: cover;
  display: block;
  position: absolute;
  left: 0;
  top: -47px;
  width: 100%;
  height: 50px;
}
section#ourstory:after,
section#ourstory:after {
  content: "";
  background: url(../images/shapes/wave-bottom.svg) no-repeat;
  background-position: top;
  background-size: cover;
  display: block;
  position: absolute;
  left: 0;
  bottom: -47px;
  width: 100%;
  height: 50px;
}
section#mission-vision {
  background: url(../images/img/pricing-bg.png) no-repeat;
  background-position: bottom;
}
section#mission-vision .mission-vision-wrapper {
  text-align: center;
  border-radius: 30px;
  background: #f6f8f8;
  box-shadow: 5.5px 9px 15px 0 rgba(0, 0, 0, 0.2);
}
section#mission-vision .mission-vision-header .price {
  font-size: 60px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  padding: 15px 0;
}
section#mission-vision .mission-vision-plan {
  text-transform: uppercase;
  padding: 15px 0;
}
section#mission-vision .mission-vision-plan img {
  width: 70px;
  height: 45px;
}
section#mission-vision .mission-vision-plan h4 {
  color: #f6f8f8;
  padding-top: 10px;
}
section#mission-vision .mission-vision-features {
  font-family: montserrat, sans-serif;
  padding: 40px 30px 40px 30px;
  color: #999;
}
section#mission-vision #about1 .mission-vision-plan {
  background: #17a6da;
}
section#mission-vision #mission .mission-vision-plan {
  background: #17a6da;
}
section#mission-vision #vision .mission-vision-plan {
  background: #17a6da;
}
footer#main-footer {
  background: url(../images/img/footer-new.png) no-repeat #064e69;
  background-position: 50% 100%;
  background-size: cover;
  color: #f6f8f8;
  position: relative;
}
footer#main-footer:before {
  content: "";
  background: url(../images/shapes/wave-top-footer.png) no-repeat;
  background-position: bottom;
  background-size: cover;
  display: block;
  position: absolute;
  left: 0;
  top: -47px;
  width: 100%;
  height: 50px;
}
footer .footer-top {
  padding: 80px 0 50px;
}
footer .footer-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-top ul li {
  padding-bottom: 10px;
}
footer .footer-top ul li:last-child {
  padding: 0;
}
footer .footer-top h4 {
  color: #f6f8f8;
  padding-bottom: 30px;
  text-transform: uppercase;
}
footer .footer-top p {
  color: #f6f8f8;
}
footer .footer-top .about p {
  padding-bottom: 30px;
  margin: 0;
}
footer .footer-top i {
  padding-right: 20px;
}
footer .footer-top .footer-links li a {
  text-transform: capitalize;
  color: #f6f8f8;
}
footer .footer-top .footer-links li a:hover {
  color: #3cbeee;
}
a#loadMore:focus {
  color: #999;
}
section#recruitment {
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}
section#recruitment .img-rounded{
  border-radius: 50%;
  width: 100px;
}
section#recruitment .img-c{
  padding-bottom: 30px;
}
section#recruitment .img-1 , section#recruitment .img-3{
  padding-left: 120px ;
}
section#recruitment span {
  color: #3cbeee;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 22px;
  padding-left: 12px;
}

section#recruitment:after,
section#recruitment:after {
  content: "";
  background: url(../images/shapes/wave-bottom-white.svg) no-repeat;
  background-position: top;
  background-size: cover;
  display: block;
  position: absolute;
  left: 0;
  bottom: -47px;
  width: 100%;
  height: 50px;
}
@media all and (max-width: 767px) {
  section#recruitment .img-1 , section#recruitment .img-3, section#recruitment .img-2{
    padding-left: 30px;
    text-align: center;    
  }
  section#recruitment span {
    padding-left: 5px;
    font-size: 16px;
  }
  .row-rev{
  display: flex;
  flex-direction: column-reverse;
  }
}
section#contact {
  background: #ededed;
  /* position: relative; */
}
@media all and (max-width: 767px) {
section#contact img{
  text-align: center;
  width: 80vw;
  margin-left: 10vw;
}
}
form#contact-form {
  margin-top: 30px;
}

form#contact-form .col-md-12 {
  padding: 0;
  text-align: center;
}
form#contact-form input {
  margin: 10px 0;
  height: 60px;
  background: #f6f8f8;
  border: 0;
  border-radius: 30px;
  padding-left: 30px;
  box-shadow: 5.5px 9px 15px 0 rgba(0, 0, 0, 0.1);
}
form#contact-form input:focus {
  box-shadow: none;
}
form#contact-form textarea {
  margin: 10px 0 30px;
  background: #f6f8f8;
  border: 0;
  border-radius: 30px;
  padding: 20px 30px;
  box-shadow: 5.5px 9px 15px 0 rgba(0, 0, 0, 0.1);
  max-width: 100%;
  resize: none;
}
form#contact-form textarea:focus {
  box-shadow: none;
}
form#contact-form .form-control::-webkit-input-placeholder {
  color: #999;
}
form#contact-form .form-control:-moz-placeholder {
  color: #999;
}
form#contact-form .form-control::-moz-placeholder {
  color: #999;
}
form#contact-form .form-control:-ms-input-placeholder {
  color: #999;
}
section#contact .contact-top {
  margin-bottom: 80px;
}
@-webkit-keyframes mymenu-open {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes mymenu-open {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes mymenu-open {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes mymenu-open {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}